
<div class="row">
<div class="col-md-8">


<div class="rx-commit-header">
<h4>
<span class="rx-project">{{commit.repository.substring(commit.repository.lastIndexOf("/") + 1,commit.repository.lastIndexOf("."))}}</span>
<a class="rx-sha1" target="_blank" href="{{commit.repository.substring(0, commit.repository.length - 4)}}/commit/{{commit.sha1}}">{{commit.sha1.substring(0, 7)}}</a>
</h4>
</div>
<div>Authored by {{commit.author}}, Committed at <span>{{commit.time}}</span></div>

<hr>

<h4>Commit Message</h4>
<p>{{commit.message}}</p>

<hr>

<h4>E-mail Body</h4>
<div class="rx-mail-body">
<div ng-bind-html="commit.emailBody | sanitize"></div>
</div>

<hr>

<h4>Response</h4>
<div ng-if="commit.hasResponse">
<emph>Developers' response are only available upon request</emph>
</div>
<div ng-if="commit.inferredMotivation">
<emph>Motivation inferred from the commit message and code diff</emph>
</div>


</div>
</div>

<div class="rx-tags-panel">
<h4>Motivation Tags</h4>


	<div class="rx-existing-tags">
	
<div ng-repeat="tag in commit.motivations">
    <span class="rx-tag">{{tag.label}}</span>
  </div>

	</div>
	
<h4>Tool Usage Tags</h4>
  <div class="rx-existing-tags">
  
  <div ng-repeat="tag in commit.others">
    <span class="rx-tag">{{tag.label}}</span>
  </div>
  
  </div>



</div>